/*font import*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quattrocento+Sans:wght@400;700&display=swap');

/*variable*/
:root{
    --text-color:rgb(255, 255, 255);
    --text-color-secondary:rgb(0, 0, 0);
    --bg-color:rgb(24, 24, 24);
    --bg-color-secondary:rgba(61, 61, 61);
    --bg-color-opec:rgba(56, 56, 56, 0.534);
    --font-family-body: 'Quattrocento Sans', sans-serif;
    --font-family-header: 'DM Serif Display', serif;
    --h1: 48px;
    --h2: 26px;
    --h3: 20px;
    --p:18;
    --font-weights-norm: 400;
    --font-weights-bold: 700;

}

/* --------------------------------
Topography
--------------------------------*/
html {
  scroll-behavior: smooth;
}

.body-about {
  overflow: hidden;
  position: relative;
}

.body-about::before {
  content: "";
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: none;
  background-image: url(https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/5e4031fb-98ff-4279-a120-3c0e66779e00/heroObjectLeft);
  filter: blur(10px);
  z-index: -1;
}

.body-main {
    display: block;
    margin: none;
    padding: 0;
    font-family: var(--font-family-body);
    font-display: swap;
    background-color: var(--bg-color);
    height: 100%;

}

@font-face {
    font-family: "MyWebFont";
    src: url(myfont.woff2) format("woff2"),
         url(myfont.woff) format("woff");
    font-display: swap;
}

.section-height {
  height: 100vh;
}

@media (max-width:650px) and (orientation: portrait) { 
  .section-height {
    height: auto;
  }
}

.h1-1 {
  font-size: var(--h1)!important;
  font-family: var(--font-family-header)!important;
  color: var(--text-color);
  padding: var(--h1) var(--h1);
}

.h2-2 {
  font-size: var(--h2)!important;
  letter-spacing: 1px;
  font-family: var(--font-family-header)!important;
  color:var(--text-color);
  padding: 15px 15px;
}

.h3-3 {
  font-size: var(--h3)!important;
  font-family: var(--font-family-header)!important;
  letter-spacing: 1px ;
  color:var(--text-color);
}

.p-p {
  font-size: var(--p);
  font-weight: var(--font-weights-norm);
  color: var(--text-color);
}

.p-2 {
  font-size:var(--p);
  font-weight: var(--font-weights-bold);
  color: var(--text-color);
}



.ham{
  color: var(--ham-color) !important;
}

/* --------------------------------
Hero section | Index - About
--------------------------------*/

.hero-img {
  overflow: hidden;
  position: relative;
}

.hero-img::after {
  background-image: linear-gradient(29deg, rgba(175,0,91,0.8379726890756303) 0%, rgba(19,0,36,0.6839110644257703) 12%, rgba(3,0,98,0.7231267507002801) 19%, rgba(26,0,129,0.7399334733893557) 27%, rgba(78,0,154,0.896796218487395) 43%, rgba(88,0,159,0.8631827731092436) 53%, rgba(58,0,159,0.8155637254901961) 66%, rgba(70,0,128,0.7875525210084033) 73%, rgba(178,5,113,1) 93%),
  url(https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/8227f466-63ba-4e42-c188-778e35a99800/heroObjectLeft);
  content: "";
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: none;
  filter: blur(7px);
  z-index: -1;
}

.hero-img-book {
  background-image:url(https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/a5a78e27-2ad1-4e56-80cd-772623ddb500/heroObjectLeft);
  background-color: var(--bg-color);
  height: 100vh;
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.index-hero-box {
  display: block;
  background-color: var(--bg-color-opec);
  position: relative;
  padding: 10px 30px 10px;
  max-height: 100vh;
  color: var(--text-color);
  backdrop-filter: blur(10px);
}

.hero-box {
  background-color: var(--bg-color-opec);
  position: relative;
  padding: 10px 30px 10px;
  width: 50%;
  height: 100%;
  color: var(--text-color);
  backdrop-filter: blur(10px);
}

.about-box {
  background-image: linear-gradient(to bottom right, #fc337979 0%, #7d4af35d 51%, #f4323259 100%);
  padding: 10px 30px 10px;
  overflow: hidden;
  color: var(--text-color);
  text-align: center;
  backdrop-filter: blur(10px);
}

.about-box-2 {
  background-color:var(--bg-color-opec);
  padding: 10px 30px 10px;
}

.hero-section{
  height: 100vh;
}

.hero-img-success {
  background-image:url(https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/7cdca59f-b127-44d0-256e-1b754839c300/heroObjectLeft);
  background-color: var(--bg-color);
  height: 90vh;
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-box-success {
  position: relative;
  padding: 10px 60px 10px;
  color: var(--text-color);
}

@media (max-width:650px) and (orientation: portrait) { 
  .hero-box-success{
    padding: 10px 5px 10px;
  }
}

/* --------------------------------
button
--------------------------------*/

.btn-cust {
  flex: 1 1 auto;
  margin: 10px;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.85s;
  font-size: 24px;
  font-family: var(--font-family-header);
  letter-spacing: 2px;
  color: var(--text-color);
  font-weight: var(--font-weights-bold);
  background-size: 200% auto;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  border-radius: 6px;
 }

.btn-cust-color {
  background-image: linear-gradient(to right, #fc3379 0%, #7d4af3 51%, #f43232 100%);
}
.btn-cust-color:hover,
.btn-cust-color:after {
  background-position: right center;
}
/* --------------------------------
Gallery 
--------------------------------*/

.card-attrs {
  background-color: var(--bg-color);
  position: relative;
  height: auto;
  border: 3px solid var(--bg-color-secondary);
  z-index: 1;
}

.card-shot{
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.card-shot::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index:-1;
  opacity: 0;
  transition:transform 700ms,  opacity 500ms  ease-in;
  background-image: linear-gradient(to top, #fc337979 0%, #7d4af35d 51%, #f4323259 100%);
}

.card-shot:hover::before {
  opacity: 1;
  z-index: 2;
  transform: scale(1.1);
}

.card-shot img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  object-position: center;
}

.hr-hr {
  color: var(--text-color);
}

.timeline{
  position: relative;
}

.timeline::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: var(--text-color);
  left:0;
  top: 40vh;
  margin-top: -3px;
  z-index: -1;
}

.time-box {
  padding: 5px;
  width: 100%;
  position: relative;
  border: 3px solid var(--bg-color-secondary);
  background-color: var(--bg-color);
  border-radius: 46px;
}
.time-box::after{
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--text-color);
  z-index: -1;
}

.time-box-top {
  top:5vh;
  width: 175%;
}

.time-box-bottum {
  top: 55vh;
  width: 165%;
  left: -55%;
}

.time-box-top::after {
  height: 20vh;
  top: 15vh;
  margin-left: 65px;
}

.time-box-bottum::after {
  height: 15vh;
  top: -15vh;
  margin-left: 45px;
}



.time-text{
  padding: 4px 4px;
  position: relative;
}

@media (max-width:650px) and (orientation: portrait) { 
  .time-box-top{
    width: 100%;
    height: auto;
    top: 0;
    margin-left: 0;
  }
  .time-box-bottum{
    width: 100%;
    height: auto;
    top: 0;
    margin-left: 0;
  }
  .timeline::after{
    width: 6px;
    height: 100%;
    background-color: var(--text-color);
  }
}

/*-------------------------------/

Animation effects 

/-------------------------------*/

.fade-in {
  opacity: 0;
  transform: scalex(0);
  transition: transform 1200ms,  opacity 1700ms  ease-in;
}

.fade-in.appear {
  transform: scaley(1);
  opacity: 1;
}

.slide-down{
  transform: translateY(25%);
  opacity: 0;
}

.slide-up{
  transform: translateY(45%);
  opacity: 0;
}

.slide-up,
.slide-down {
  transition:  transform 1500ms, opacity 1600ms ease-in;
  opacity: 0;
} 

.slide-up.appear,
.slide-down.appear {
  transform: translateY(0);
  opacity: 1;
}
