/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Calistoga&display=swap');
/*variable*/
:root{
    --text-color:rgb(255, 255, 255);
    --text-color-secondary:rgb(0, 0, 0);
    --bg-color:rgb(24, 24, 24);
    --bg-color-secondary:rgba(61, 61, 61);
    --bg-color-opec:rgba(56, 56, 56, 0.534);  
    --font-family-header:'Arvo', serif;
    --numbers: 'Calistoga', cursive;
    --h1: 26px;
    --p: 16px;
    --np:50px;
    --font-weights-norm: 400;
    --arvo-norm: 400;

}

/* --------------------------------
Topography
--------------------------------*/
html {
  scroll-behavior: smooth;
}

.body-main {
  display: block;
  margin: none;
  padding: 0;
  font-family: var(--font-family-header);
  font-display: swap;
  background-color: var(--bg-color);
  height: 100%;

}

@font-face {
  font-family: "MyWebFont";
  src: url(myfont.woff2) format("woff2"),
        url(myfont.woff) format("woff");
  font-display: swap;
}

.h1-1 {
  font: var(--font-weights-norm) var(--h1) / var(--h1) var(--font-family-header);
  color: var(--text-color);
}
.p-p {
  font-size: var(--p);
  font-weight: var(--font-weights-norm);
  color: var(--text-color);
}

.nums {
  font-family: var(--numbers);
  font-display: swap;
  font-size: var(--np);
  font-weight: var(--font-weights-norm);
  color: var(--text-color);
  background-image: linear-gradient(75deg, #7933FC 10%,  #B6FC33 35%, #33FCDD 75%);
  background-repeat: repeat;
  background-position: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}


.p-2 {
  font-size:var(--p);
  font-weight: var(--font-weights-norm);
  color: var(--text-color-secondary);
}

.ham{
  color:36px!important;
}

.icon-color{
  color:#fc3379;
}

hr {
  color: #7933fc79;
}

.data{
  display: none;
}

/* --------------------------------
button
--------------------------------*/

.btn-cust{
font: var(--p);
color: #ffffff;
background-color: #33fcde73;
padding: 10px 21px;
border: 2px solid #33FCDD;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 25px;
transition : 777ms;
align-items: center;
margin: 5px;
min-width: 165px;
cursor: pointer;
}

.btn-cust:hover{
transition : 777ms;
background-color: #ffffff00;
color: #33FCDD;
border: solid 2px #33FCDD;
}

.right-i{
  width:25px; 
  margin-left:24px; 
  margin-right:2px; 
  flex-direction: row-reverse;
}

.left-i{
  width:25px; 
  margin-left:2px; 
  margin-right:24px; 
  flex-direction: row-reverse;
}



/* --------------------------------
main
--------------------------------*/

.sections {
  border: 2px solid #7933fc79 ;
  background-color: #292929 ;
  padding: 15px;
  min-height: 28vh;
  border-radius: 25px;
  position: relative;
}

.sections-small {
  border: 2px solid #7933fc79 ;
  background-color: #292929 ;
  padding: 15px;
  border-radius: 25px;
  position: relative;
}

.chart-container{
  background-color: #292929 ;
  position: relative; 
  display: flex;
  justify-content: center; 
  align-items: center;
  width:25vw;
  padding: 10px 10px;
}
.chart-container2{
  background-color: #292929 ;
  position: relative; 
  display: flex;
  justify-content: center; 
  align-items: center;
  width:50vw;
  padding: 10px 10px;
}

.scroll-menu {
  max-height: 18vh;
}

/* --------------------------------
images and prints 
--------------------------------*/
.section-image-data {
  border: 2px solid #7933fc79 ;
  background-color: #292929 ;
  padding: 15px;
  min-height: 28vh;
  border-radius: 25px;
  
}

.section-image {
  border-radius: 25px;
  border: 2px solid #7933fc79 ;
  background-color: #292929 ;
  padding: 15px;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: auto;
}
.section-image img{
  border-radius: 12px;
  height: 50vh;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.486);
}

.gal-roller {
  padding: 15px;
  position: relative;
}

.next_image {
  position: absolute;
  right: 0;

  
}

.previous_image {
  position: absolute;
  left: 0;
}

/* --------------------------------
billing
--------------------------------*/

.inv-card {
  border:  1px solid #000cad98;
  background-color: #000000;
  background-image: linear-gradient(272deg, #1d1d1d 0%, #000000 74%); 
}



.inv-card div{
  position: relative;
  padding: 5px;
  margin: auto;
}


.sections-inv {
  border: 2px solid #7933fc79 ;
  background-color: #292929 ;
  padding: 15px;
  height:60vh;
  border-radius: 25px;
}

/* --------------------------------
js parts 
--------------------------------*/
#dueProgress {
  width: 100%;
  border-radius: 16px 0 0 16px;
  background-color: #757575;
}

#due {
  width: 0%;
  height: 50px;
  border-radius: 16px 0 0 16px;
  overflow: visible;
  background-position: fixed;
  background-image: linear-gradient(75deg, #7933FC 10%,  #B6FC33 35%, #33FCDD 75%);
}

.due-h {
  position: relative;
  top: 14px;
  left: 30%;
}
