/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Calistoga&display=swap');
/*variable*/
:root{
  --text-color:rgb(0, 0, 0);
  --text-color-secondary:rgb(121, 121, 121);
  --bg-color:rgb(255, 255, 255);
  --bg-color-secondary:linear-gradient(315deg, #cacaca, #f0f0f0);
  --bg-shadow:  -10px -10px 10px #a6a6a6, 10px 10px 10px #ffffff;
  --bg-color-nav:#e7e7e7;
  --bg-color-opec:rgba(128, 128, 128, 0.281);  
  --font-family-header:'Arvo', serif;
  --numbers: 'Calistoga', cursive;
  --h1: 26px;
  --p: 14px;
  --np:36px;
  --font-weights-norm: 400;
  --arvo-norm: 400;
  --nav-width: 70px;           
  --first-color: #7933FC;           
  --first-color-light: #000000;          
  --white-color: #7933FC;                           
  --z-fixed: 100;
  --lingrand: linear-gradient(123deg, #7933FC 05%, #2b6ce4 35%, #26ccb3 70%, #7933FC 95%);
  --line-border-fill: #7933FC;
  --line-border-empty: #131313c0;
}


/* --------------------------------
Topography
--------------------------------*/
html {
  scroll-behavior: smooth;
}

.hidden-nav {
  display: none;
}

.body-main {
  margin-left:70px;
  display: block;
  margin: none;
  padding: 0;
  font-family: var(--font-family-header)!important;
  font-display: swap;
  background-color: var(--bg-color);
  margin-top: 50px;           
  padding: 0 1rem;                 
  transition: .5s;
}


@media screen and (max-width: 768px){
  .body-main{
    margin-left:10px;
  }
}

@font-face {
  font-family: "MyWebFont";
  src: url(myfont.woff2) format("woff2"),
        url(myfont.woff) format("woff");
  font-display: swap;
}

.h1-1 {
  font: var(--font-weights-norm) var(--h1) / var(--h1) var(--font-family-header);
  color: var(--text-color);
}
.p-p {
  font-size: var(--p);
  font-weight: normal;
  color: var(--text-color);
}

.nums {
  font-family: var(--numbers);
  font-display: swap;
  font-size: var(--np);
  font-weight: var(--font-weights-norm);
  color: var(--text-color);
  background-image: var(--lingrand);
  background-repeat: repeat;
  background-position: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}



.p-2 {
  font-size:var(--p);
  font-weight: normal;
  color: var(--text-color-secondary);
}

.ham{
  color:36px!important;
}

.icon-color{
  color:#fc3379;
}

hr {
  color: var(--first-color);
}

.data{
  display: none;
}

.form-fit {
  position: relative;
  width:50%;
  left:30%;

}
@media screen and (max-width: 768px) {
  .form-fit {
    width: 100%;
    left: 0;
  }
  .nums {
    font-size: var(--p);
  }
  
}

/* --------------------------------
loader
--------------------------------*/

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  position: relative;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(255, 255, 255);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

#loader {
  display: none;
}

#loader.show {
  display: block;
}

#onWait {
  display: block;
}

#onWait.show {
  display: none;
}


@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
/* --------------------------------
button
--------------------------------*/

.btn-cust{
  font: var(--p);
  color: #ffffff;
  background-color: #7933fc96;
  padding: 10px 21px;
  border: 2px solid #7933FC;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 8px;
  transition : 777ms;
  align-items: center;
  margin: 5px;
  min-width: 165px;
  cursor: pointer;
}

.btn-icon {
  font: var(--p);
  color: #ffffff;
  background-color: #7933fc96;
  padding: 8px 8px;
  border: 2px solid #7933FC;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 8px;
  transition : 777ms;
  align-items: center;
  cursor: pointer;
}

.btn-cust:hover,
.btn-icon:hover {
  transition : 777ms;
  background-color: #ffffff00;
  color: #5b23c4;
  border: solid 2px #1c0c3a;
}

.right-i{
  width:25px; 
  margin-left:24px; 
  margin-right:2px; 
  flex-direction: row-reverse;
}

.left-i{
  width:25px; 
  margin-left:2px; 
  margin-right:24px; 
  flex-direction: row-reverse;
}



/* --------------------------------
main
--------------------------------*/

.sections {
  background: var(--bg-color-secondary) ;
  padding: 15px;
  min-height: 28vh;
  border-radius: 8px;
  position: relative;
  box-shadow:var(--bg-shadow);

}
.sections:hover{
  transition : 777ms;
}

.sections-2 {
  padding: 15px;
  position: relative;
  border-radius: 21px;
  overflow: hidden;
  background: #e0e0e0;
  box-shadow: inset -6px -6px 12px #acacac, inset 6px 6px 12px #ffffff;
}

.sections-small {
  box-shadow: var(--bg-shadow);
  background: var(--bg-color-secondary) ;
  padding: 15px;
  border-radius: 8px;
  position: relative;
}

.chart-container{
  position: relative; 
  display: flex;
  justify-content: center; 
  align-items: center;
  width:25vw;
  padding: 10px 10px;
  aspect-ratio: 9/16;
}
.chart-container2{
  position: relative; 
  display: flex;
  justify-content: center; 
  align-items: center;
  width:50vw;
  padding: 10px 10px;
}


@media screen and (max-width: 607px){
  .chart-container2,
  .chart-container{
    width:80vw;
    align-items: left;

  }
}

.scroll-menu {
  max-height: 35vh;
}

/* --------------------------------
images and prints 
--------------------------------*/
.section-image-data {
  box-shadow:var(--bg-shadow);
  background: var(--bg-color-secondary) ;
  padding: 15px;
  min-height: 28vh;
  border-radius: 8px;
}

.section-image {
  border-radius: 8px;
  box-shadow:var(--bg-shadow);
  background: var(--bg-color-secondary) ;
  padding: 15px;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: auto;
}
.section-image img{
  border-radius: 12px;
  height: 50vh;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.486);
}

.gal-roller {
  padding: 15px;
  position: relative;
}

.next_image {
  position: absolute;
  right: 0;

  
}

.previous_image {
  position: absolute;
  left: 0;
}

/* --------------------------------
Notebook  
--------------------------------*/

.bookcard {
  position: relative;
  font: var(--p);
  color: #ffffff;
  background-color: #7933fc96;
  padding: 5px 5px;
  border: 2px solid #7933FC;
  box-shadow:var(--bg-shadow);
  border-radius: 2px;
  transition : 777ms;
  align-items: center;
  height: 120px;
  cursor: pointer;
  object-position: center;
}
  
.bookcard:hover{
  transition : 777ms;
  background-color: #ffffff00;
  color: #5b23c4;
  border: solid 2px #1c0c3a;
}

.bookcard p,
.bookcard i{
  position: relative;
  top: 20px;
}


/* --------------------------------
js parts 
--------------------------------*/
#dueProgress {
  width: 100%;
  border-radius: 16px 0 0 16px;
  background-color: #757575;
}

#due {
  width: 0%;
  height: 50px;
  border-radius: 16px 0 0 16px;
  overflow: visible;
  background-position: fixed;
  transform: 300ms;
  background-image:var(--lingrand);
}


.due-h {
  position: relative;
  top: 14px;
  left: 30%;
}
/* --------------------------------
client-portal
--------------------------------*/

.comment-sub-box,
.inv-card{
  border-radius: 20px;
  padding: 7px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image:var(--lingrand);
  z-index: 2;
}

.user-box{
  text-align: right;
}

.comment-content {
  background: rgba(190, 190, 190, 0.61);
  background-image: var(--bg-color-secondary);
  border-radius: 17px;
  padding: 15px;
  width: 100%;
  height: 100%;
}

.user-content {
  background: rgb(190, 190, 190);
  border-radius: 17px;
  padding: 15px;
  width: 100%;
  height: 100%;
}



.comment-line-1{
  position: relative;
  content: '';
  position: relative;
  top: 30px;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
}

.comment-line-2{
  position: relative;
  content: '';
  position: relative;
  top: 23px;
  left: 5%;
  width: 2px;
  height: 100%;
  background-color: var(--text-color);
  max-height: 50px;
}

.comment-line-3{
  position: relative;
  content: '';
  position: relative;
  top: 23px;
  left: 90%;
  width: 2px;
  height: 100%;
  max-height: 50px;
  background-color: var(--text-color);
}


.inv-card-content{
  background: rgba(190, 190, 190, 0.61);
  background-image: var(--bg-color-secondary);
  border-radius: 20px;
  padding: 15px;
  width: 100%;
  position: relative;
}

.sections-inv {
  box-shadow: var(--bg-shadow);
  background: var(--bg-color-secondary) ;
  padding: 15px;
  height:60vh;
  border-radius: 8px;
}

/* --------------------------------
  NAv Body
--------------------------------*/

*,::before,::after
{
  box-sizing: border-box
}

a{
  text-decoration: none
}
.header{
  width: 100%;           
  height: var(--header-height);           
  position: fixed;           
  top: 0;           
  left: 0;           
  display: flex;          
  align-items: center;          
 justify-content: space-between;           
  padding: 0 1rem;           
  background-color: var(--bg-color-nav);           
  z-index: var(--z-fixed);           
  transition: .5s;
}

.header_toggle{
  color: var(--first-color);           
  font-size: 1.5rem;           
  cursor: pointer;
}

.home-i {
  color: var(--first-color);           
}

.header_img{
  width: 35px;           
  height: 35px;           
  display: flex;           
  justify-content: center;           
  border-radius: 50%;           
  overflow: hidden;
}

.header_img img{
  width: 40px;
}

.l-navbar{
  position: fixed;           
  top: 0;           
  left: -30%;           
  width: var(--nav-width);           
  height: 100vh;           
  background-color: var(--bg-color-nav);           
  padding: .5rem 1rem 0 0;           
  transition: .5s;           
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;           
  display: flex;           
  flex-direction: column;           
  justify-content: space-between;           
  overflow: hidden;
}

.nav_logo, 
.nav_link{
  display: grid;           
  grid-template-columns: max-content max-content;           
  align-items: center;           
  column-gap: 1rem;           
  padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo{
  margin-bottom: 2rem;
}

.nav_logo-icon{
  font-size: 1.25rem;           
  color: var(--white-color);
}

.nav_logo-name{
  color: var(--white-color);           
  font-weight: 700;
}

.nav_link{
  position: relative;           
  color: var(--first-color-light);           
  margin-bottom: 1.5rem;           
  transition: .3s;
}
.nav_link:hover{
  color: var(--white-color);
}

.nav_icon{
  font-size: 1.25rem;
}

.show{
  left: 0;
}

.body-pd{
  padding-left: calc(var(--nav-width) + 1rem)
}

.active{
  color: var(--white-color)
}

.active::before{
  content: '';           
  position: absolute;           
  left: 0;           
  width: 2px;           
  height: 32px;           
  background-color: var(--white-color);
}

.height-100{
  height:100vh
}

@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }
  .header{
    height: calc(var(--header-height) + 1rem);           
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img{
    width: 40px;           
    height: 40px;
  }
  .header_img img{
    width: 45px;
  }
  .l-navbar{
    left: 0;           
    padding: 1rem 1rem 0 0;
  }
  .show{
    width: calc(var(--nav-width) + 156px);
  }
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
}

/* --------------------------------
calendar
--------------------------------*/

.big-cal {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Create 7 evenly spaced columns */
  grid-gap: 10px;
}

.day_name {
  position: relative;
  text-align: center; 
  width: 100%;
  height: 50%;
}

.day {
  text-align: center; 
  width: 100%;
  height: 10vh;
  border-radius: 20px;
  padding: 1px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image:var(--lingrand);
  z-index: 2;
}

.day-box {
  background: var(--bg-color-secondary);
  background-image: var(--bg-color-secondary);
  border-radius: 15px;
  width: 100%;
  height: 95%; 
  position: relative;
}
.day-box:active {
  background-color: #7b2be47a;
  background-image: none;
}

.event-tag {

  width: 20px;
  height: 20px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #2be4c8 0%, #7933FC 100%);
  border-radius: 50%;
  margin-left: 2.5rem;
  animation: pulse 3s ease-in-out infinite;
}

.sm-event-tag {
  position: absolute;
  border-radius: 50%;
  animation: pulse 3s ease-in-out infinite;
  left: 30%;
  top: 50%;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #2be4c8 0%, #7933FC 100%);
  width: 20px;
  height: 20px;
}

.event-tag:nth-child(1),
.sm-event-tag:nth-child(1){
  animation-delay: .9s;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #d0d309 0%, #C850C0 46%, #2b6ce4 100%);
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

.day p{
  vertical-align: top;
  position: relative;
  border: .5px solid #9e9e9e69;
  top: -3px;
  width: 110%;
  left: -5%;
  background-color: #e7e7e7;
}
.day-tail {
  border-radius: 15px;
  width: 100%;
  height: 95%;
  position: relative;
  background-color: #d6d6d6c2!important;
}

.sm-day p {
  position: relative;
}

.sm-day {
  text-align: center; 
  width: 100%;
  border-radius: 20px;
  padding: 1px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image:var(--lingrand);
  z-index: 2;
}

.sm-day-box{
  background: var(--bg-color-secondary);
  background-image: var(--bg-color-secondary);
  border-radius: 30px;
  width: 100%;
  height: 95%;
  position: relative;
}

.sm-day-tail {
  border-radius: 30px;
  width: 100%;
  height: 95%;
  position: relative;
  background-color: #d6d6d6c2!important;
}

.mod-cust {
  width: 100%;
}

/* --------------------------------
project progress
--------------------------------*/
.project-progress {
  margin-top: 15px;
  text-align: center;
}

.progress-container::before {
  content: "";
  background: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 12%;
  width: 100%;
  z-index: 1;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  overflow: hidden;
}

.progress {
  background-image: var(--lingrand);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 12%;
  width: 0%;
  z-index: 1;
  transition: .3s ease-in-out;
}

.circle {
  background: #b3b2b2;
  color: #131313;
  border-radius: 50%;
  min-height: 100px;
  width: 100px;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: .3s ease-in-out;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.cir-sm {
  font-family: var(--numbers);
  font-display: swap;
  font-size: 12px;
  font-weight: var(--font-weights-norm);
  color: var(--text-color);
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.circle.active p{
  color: var(--first-color);
}



.loader-box{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: not-allowed;
  scale: 0.7;
}

.sections-sepc {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  box-shadow: 0.5em 1em 1em #26ccb3,
  -0.5em 0.5em 1em #7933FC,
  0.5em -0.5em 1em #2b6ce4,
  -0.5em -0.5em 1em #26ccb3;

}



.external-shadow {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0.5em 0.5em 3em #26ccb3,
    -0.5em 0.5em 3em #7933FC ,
    0.5em -0.5em 3em #2b6ce4,
    -0.5em -0.5em 3em #26ccb3;
  z-index: 999;
  animation: rotate 10s linear infinite;
  background-image:var(--bg-color-secondary);
}

.intern {
  position: absolute;
  z-index: 9999;
}



@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
