/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Calistoga&display=swap');
/*variable*/
:root{
  --text-color:rgb(223, 223, 223);
  --text-color-secondary:rgb(0, 0, 0);
  --bg-color:rgb(19, 19, 19);
  --bg-color-secondary:linear-gradient(315deg, #212121, #282828);
  --bg-shadow:-4px -4px 10px rgba(63, 27, 131, 0.493), 4px 4px 10px #42385380;
  --bg-color-nav:#272727;
  --bg-color-opec:rgba(0, 0, 0, 0.534);  
  --font-family-header:'Arvo', serif;
  --numbers: 'Calistoga', cursive;
  --h1: 26px;
  --p: 16px;
  --np:36px;
  --font-weights-norm: 400;
  --arvo-norm: 400;
  --nav-width: 70px;           
  --first-color: #7933FC;           
  --first-color-light: #e2e2e2;          
  --white-color: #B6FC33;                           
  --z-fixed: 100;

}

/* --------------------------------
Topography
--------------------------------*/
html {
  scroll-behavior: smooth;
}

.hidden-nav {
  display: none;
}

.body-main {
  margin-left:70px;
  display: block;
  margin: none;
  padding: 0;
  font-family: var(--font-family-header)!important;
  font-display: swap;
  background-color: var(--bg-color);
  margin-top: 50px;           
  padding: 0 1rem;                 
  transition: .5s;
}

@font-face {
  font-family: "MyWebFont";
  src: url(myfont.woff2) format("woff2"),
        url(myfont.woff) format("woff");
  font-display: swap;
}

.h1-1 {
  font: var(--font-weights-norm) var(--h1) / var(--h1) var(--font-family-header);
  color: var(--text-color);
}
.p-p {
  font-size: var(--p);
  font-weight: normal;
  color: var(--text-color);
}

.nums {
  font-family: var(--numbers);
  font-display: swap;
  font-size: var(--np);
  font-weight: var(--font-weights-norm);
  color: var(--text-color);
  background-image: linear-gradient(75deg, #7933FC 10%,   #33FCDD 55%, #B6FC33 75%);
  background-repeat: repeat;
  background-position: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}


.p-2 {
  font-size:var(--p);
  font-weight:  normal;
  color: var(--text-color);
}

.ham{
  color:36px!important;
}

.icon-color{
  color:#fc3379;
}

hr {
  color: #7933fc79;
}

.data{
  display: none;
}

/* --------------------------------
button
--------------------------------*/

.btn-cust{
font: var(--p);
color: #ffffff;
background-color: #33fcde73;
padding: 10px 21px;
border: 2px solid #33FCDD;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 8px;
transition : 777ms;
align-items: center;
margin: 5px;
min-width: 165px;
cursor: pointer;
}

.btn-cust:hover{
  transition : 777ms;
  background-color: #ffffff00;
  color: #33FCDD;
  border: solid 2px #33FCDD;
}

.right-i{
  width:25px; 
  margin-left:24px; 
  margin-right:2px; 
  flex-direction: row-reverse;
}

.left-i{
  width:25px; 
  margin-left:2px; 
  margin-right:24px; 
  flex-direction: row-reverse;
}



/* --------------------------------
main
--------------------------------*/

.sections {
  background: var(--bg-color-secondary) ;
  padding: 15px;
  min-height: 28vh;
  border-radius: 8px;
  position: relative;
  box-shadow:var(--bg-shadow);

}
.sections:hover{
  transition : 777ms;
  box-shadow:  -4px -4px 10px rgba(122, 52, 252, 0.507), 4px 4px 10px #c2a3f7a6;
}

.sections-small {
  box-shadow: var(--bg-shadow);
  background: var(--bg-color-secondary) ;
  padding: 15px;
  border-radius: 8px;
  position: relative;
}

.chart-container{
  position: relative; 
  display: flex;
  justify-content: center; 
  align-items: center;
  width:25vw;
  padding: 10px 10px;
}
.chart-container2{
  position: relative; 
  display: flex;
  justify-content: center; 
  align-items: center;
  width:50vw;
  padding: 10px 10px;
}

.scroll-menu {
  max-height: 18vh;
}

/* --------------------------------
images and prints 
--------------------------------*/
.section-image-data {
  box-shadow:var(--bg-shadow);
  background: var(--bg-color-secondary) ;
  padding: 15px;
  min-height: 28vh;
  border-radius: 8px;
  
}

.section-image {
  border-radius: 8px;
  box-shadow:var(--bg-shadow);
  background: var(--bg-color-secondary) ;
  padding: 15px;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: auto;
}
.section-image img{
  border-radius: 12px;
  height: 50vh;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.486);
}

.gal-roller {
  padding: 15px;
  position: relative;
}

.next_image {
  position: absolute;
  right: 0;

  
}

.previous_image {
  position: absolute;
  left: 0;
}

/* --------------------------------
Notebook  
--------------------------------*/

.bookcard {
  position: relative;
  font: var(--p);
  color: #ffffff;
  background-color: #33fcde73;
  padding: 5px 5px;
  border: 2px solid #33FCDD;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 2px;
  transition : 777ms;
  align-items: center;
  height: 120px;
  cursor: pointer;
  object-position: center;
}
  
.bookcard:hover{
  transition : 777ms;
  background-color: #ffffff00;
  color: #33FCDD;
  border: solid 2px #33FCDD;
}

.bookcard p,
.bookcard i{
  position: relative;
  top: 20px;
}


/* --------------------------------
billing
--------------------------------*/


.inv-card {
  border:  1px solid #000cad98;
  background-color: #000000;
  background-image: linear-gradient(272deg, #1d1d1d 0%, #000000 74%); 
}



.inv-card div{
  position: relative;
  padding: 5px;
  margin: auto;
}


.sections-inv {
  box-shadow: var(--bg-shadow);
  background: var(--bg-color-secondary) ;
  padding: 15px;
  height:60vh;
  border-radius: 8px;
}

/* --------------------------------
js parts 
--------------------------------*/
#dueProgress {
  width: 100%;
  border-radius: 16px 0 0 16px;
  background-color: #757575;
}

#due {
  width: 0%;
  height: 50px;
  border-radius: 16px 0 0 16px;
  overflow: visible;
  background-position: fixed;
  transform: 300ms;
  background-image: linear-gradient(75deg, #7933FC 10%,  #B6FC33 35%, #33FCDD 75%);
}


.due-h {
  position: relative;
  top: 14px;
  left: 30%;
}
/* --------------------------------
client-portal
--------------------------------*/

.comment-sub-box {
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  z-index: 2;
}

.user-box{
  text-align: right;
}

.comment-content {
  background: rgb(5, 6, 45);
  border-radius: 17px;
  padding: 15px;
  width: 100%;
  height: 100%;
}

.user-content {
  background: rgb(18, 19, 32);
  border-radius: 17px;
  padding: 15px;
  width: 100%;
  height: 100%;
}



.comment-line-1{
  position: relative;
  content: '';
  position: relative;
  top: 30px;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
}

.comment-line-2{
  position: relative;
  content: '';
  position: relative;
  top: 23px;
  left: 5%;
  width: 2px;
  height: 100%;
  background-color: var(--text-color);
  max-height: 50px;
}

.comment-line-3{
  position: relative;
  content: '';
  position: relative;
  top: 23px;
  left: 90%;
  width: 2px;
  height: 100%;
  max-height: 50px;
  background-color: var(--text-color);
}

/* --------------------------------
  NAv Body
--------------------------------*/

*,::before,::after
{
  box-sizing: border-box
}

a{
  text-decoration: none
}
.header{
  width: 100%;           
  height: var(--header-height);           
  position: fixed;           
  top: 0;           
  left: 0;           
  display: flex;          
  align-items: center;          
 justify-content: space-between;           
  padding: 0 1rem;           
  background-color: var(--bg-color-nav);           
  z-index: var(--z-fixed);           
  transition: .5s;
}

.header_toggle{
  color: var(--first-color);           
  font-size: 1.5rem;           
  cursor: pointer;
}

.home-i {
  color: var(--first-color);           
}

.header_img{
  width: 35px;           
  height: 35px;           
  display: flex;           
  justify-content: center;           
  border-radius: 50%;           
  overflow: hidden;
}

.header_img img{
  width: 40px;
}

.l-navbar{
  position: fixed;           
  top: 0;           
  left: -30%;           
  width: var(--nav-width);           
  height: 100vh;           
  background-color: var(--bg-color-nav);           
  padding: .5rem 1rem 0 0;           
  transition: .5s;           
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;           
  display: flex;           
  flex-direction: column;           
  justify-content: space-between;           
  overflow: hidden;
}

.nav_logo, 
.nav_link{
  display: grid;           
  grid-template-columns: max-content max-content;           
  align-items: center;           
  column-gap: 1rem;           
  padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo{
  margin-bottom: 2rem;
}

.nav_logo-icon{
  font-size: 1.25rem;           
  color: var(--white-color);
}

.nav_logo-name{
  color: var(--white-color);           
  font-weight: 700;
}

.nav_link{
  position: relative;           
  color: var(--first-color-light);           
  margin-bottom: 1.5rem;           
  transition: .3s;
}
.nav_link:hover{
  color: var(--white-color);
}

.nav_icon{
  font-size: 1.25rem;
}

.show{
  left: 0;
}

.body-pd{
  padding-left: calc(var(--nav-width) + 1rem)
}

.active{
  color: var(--white-color)
}

.active::before{
  content: '';           
  position: absolute;           
  left: 0;           
  width: 2px;           
  height: 32px;           
  background-color: var(--white-color);
}

.height-100{
  height:100vh
}

@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }
  .header{
    height: calc(var(--header-height) + 1rem);           
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img{
    width: 40px;           
    height: 40px;
  }
  .header_img img{
    width: 45px;
  }
  .l-navbar{
    left: 0;           
    padding: 1rem 1rem 0 0;
  }
  .show{
    width: calc(var(--nav-width) + 156px);
  }
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
}