{% extends 'panel.html' %}
{% block title %}Invite Sent Success{% endblock %}
{% block content %}

<div class='row'>
	<div class='col'>
		<div class='sections'>
			<h1 class='h1-1'>
				Oh no!! Error
			</h1>
			<p>
				It looks like the invite did not send correctly, please go back and check the email address and try again.
				if the issue persist please contact the site admin.  
			</p>
			<button class='btn-cust' onclick="window.location.href='{% url 'client' %}'">Home</button>
		</div>
	</div>
</div>

{% endblock %}