
{% extends 'scheme.html' %}
{% block title %}Contact me {% endblock %}
{% block content %}

<div class='container-fluid'>
  <div class="row">
    <div class="hero-img-book">
      <div class="hero-box">
        <h1 class="h1-1"> Book your next photo shoot today!</h1>
          <div class="form-group blog-box">
            <form method=POST>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn-cust btn-cust-color">Send</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}