{% extends 'scheme.html' %}
{% load static %}
{% block content %}
  <div class='hero-img'>
    <div class='hero-section'>
      <div class='index-hero-box text-center'>
        <h1 class="h1-1">Soft Subversion</h1>
        <img class="img-fluid" src='https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/8227f466-63ba-4e42-c188-778e35a99800/heroObjectLeft' style='max-height:600px'>
        <h2 class="h2-2">Book your photoshoot today!</h2>
        <a href="/book.html">
        <button class="btn-cust btn-cust-color">Book</button></a>
      </div>
    </div>
  </div>
<script src="{% static '/js/float_in.js' %}"></script>
{% endblock %}
