{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel='stylesheet' href="{% static 'css/panel.css' %}">
    <script src='https://cdn.jsdelivr.net/npm/chart.js'></script>

    <title>    
        {% block title %}
          Silk Threads
        {% endblock %}
    </title>
</head>
<body class='body-main'>
{% if user.is_authenticated %}

{% for group in user.groups.all %}
{% if group.name == 'owner' %}
	<div class="container-fluid  sticky-left">
		<div class="row flex-nowrap">
			<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
				<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
					<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
						<span class="fs-5 d-none d-sm-inline">Main Site</span>
					</a>
					<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
						<li class="nav-item">
							<a href="{% url 'o_main' %}" class="nav-link align-middle px-0 p-p">
								<i class="fa-solid fa-house fa-xs"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
							</a>
						</li>
						<li>
							<a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle p-p">
								<i class="fa-solid fa-users fa-xs"></i> <span class="ms-1 d-none d-sm-inline">Manage</span> <i class="fa-solid fa-caret-down fa-2xs"></i> </a>
							<ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
								<li>
									<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline p-p"></span>Clients</a>
								</li>
								<li>
									
									<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline p-p"></span>Projects</a>
								</li>
								
								<li  class="w-100">
									<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline p-p"></span>Images</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="{% url 'image-upload' %}" class="nav-link px-0 align-middle p-p">
								<i class="fa-solid fa-upload fa-xs"></i> <span class="ms-1 d-none d-sm-inline">Image Upload</span></a>
						</li>
						<li>
							<a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle p-p">
								<i class="fa-solid fa-images fa-xs"></i> <span class="ms-1 d-none d-sm-inline">Gallery Controle</span> <i class="fa-solid fa-caret-down fa-2xs"></i></a>
							<ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
								<li class="w-100">
									<a href="#" class="nav-link px-0 p-p"> <span class="d-none d-sm-inline"></span>Model</a>
								</li>
								<li>
									<a href="#" class="nav-link px-0 p-p"> <span class="d-none d-sm-inline"></span>Weddings</a>
								</li>
								<li>
									<a href="#" class="nav-link px-0 p-p"> <span class="d-none d-sm-inline"></span>Prints</a>
								</li>
								<li>
									<a href="#" class="nav-link px-0 p-p"> <span class="d-none d-sm-inline"></span>Family</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="nav-link px-0 align-middle p-p">
								<i class="fa-solid fa-file-invoice-dollar fa-xs"></i> <span class="ms-1 d-none d-sm-inline">Coupon/Sales</span></a>
						</li>
						<li>
							<a href="{% url 'billing' %}" class="nav-link px-0 align-middle p-p">
								<i class="fa-solid fa-money-bill-wave fa-xs"></i> <span class="ms-1 d-none d-sm-inline">Billing</span></a>
						</li>
					</ul>
					<hr>
					<div class="dropdown pb-4">
						<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-user fa-2xl" style='color:#fc3379;'></i>
							<span class="d-none d-sm-inline mx-1">{{ user.username }}</span>
						</a>
						<ul class="dropdown-menu dropdown-menu-dark text-small shadow">
							<li><a class="dropdown-item p-p" href="#">Profile</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item p-p" href="#">Sign out</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col py-3">


			<!------------------------------------------------>
			<!-- dynamic content block -->
			<!------------------------------------------------>

			<div class='container'>
				{% block content %}
			
				{% endblock %}
			</div>

				<!------------------------------------------------>
				<!-- dynamic content block -->
				<!------------------------------------------------>  
			</div>
		</div>
	</div>

{% else %}

<img class='img-fluid' src='#'></img>

{% endif %}
{% endfor %}
{% endif %}

      <script src="https://kit.fontawesome.com/00f4d71521.js" crossorigin="anonymous"></script>
</body>
</html>