{% extends 'scheme.html' %}
{% block title %}Gallery{% endblock %}
{% block content %}
{% load static %}
<div class='container'>
	<div class="gal-hero float-in">
		{% for print in print_list %}
		{% if print.display == 'gallery4' %}
		<div class='card-shot'>
		<img class='' src="{{ print.print_link }}">
		</div>
		{% endif %}
		{% endfor %}

	</div>
</div>


<div class='container mt-4 mb-4'>
	<div class="lightbox">
		<div class='row'>
			<div class='col-3 mb-4 mb-lg-0'>
			{% for print1 in print_col1 %}
				<img 
				class="w-100 shadow-1-strong rounded mb-4 sub-gal-img slide-up" id='slide-in' 
				src="{{ print1.print_link }}"
				data-mdb-img="{{ print1.print_link }}"
				onclick="openModal();currentSlide({{ forloop.counter }})">
			{% endfor %}
			</div>
			<div class='col-6 mb-4 mb-lg-0'>
				{% for print2 in print_col2 %}
					<img 
					class="w-100 shadow-1-strong rounded mb-4 sub-gal-img slide-up" id='slide-in'
					src="{{ print2.print_link }}"
					data-mdb-img="{{ print2.print_link }}"
					onclick="openModal();currentSlide({{ forloop.counter|add:len1 }})">
				{% endfor %}
			</div>
			<div class='col-3 mb-4 mb-lg-0'>
				{% for print3 in print_col3 %}
					<img 
					class="w-100 shadow-1-strong rounded mb-4 sub-gal-img slide-up" id='slide-in'
					src="{{ print3.print_link }}"
					data-mdb-img="{{ print3.print_link }}"
					onclick="openModal();currentSlide({{forloop.counter|add:len2 }})">
				{% endfor %}
			</div>
		</div>
	</div>
</div>



<div class='container'>
	<div class='row'>
		<div id="modal_displayer" class="modal">
			<span class="close cursor" onclick="closeModal()"><i class="fa-solid fa-circle-xmark fa-lg icon-color"></i></span>
			<div class="modal-content">
		
			
				{% for print4 in new_list %}
				<div class="gal-slide  text-center">
					<div class="numbertext p-p">print #{{ print4.id }} | {{print4.title}} by. Carly</div>
					<img class='text-center img-fluid' src="{{ print4.print_link }}" alt='{{print4.title}}'>
				</div>
				{% endfor %}
			
			<a class="prev" onclick="plusSlides(-1)"><i class="fa-solid fa-circle-arrow-left fa-2xl icon-color"></i></a>
			<a class="next" onclick="plusSlides(1)"><i class="fa-solid fa-circle-arrow-right fa-2xl icon-color"></i></a>
		
			<div class="caption-container">
				<p id="caption"></p>
			</div>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'js/lightbox.js' %}"></script>
<script src="{% static 'js/float_in.js' %}"></script>
{% endblock %}