{% extends 'panel.html' %}
{% block title %}Cancel Project Event{% endblock %}
{% block content %}



{% if user.is_authenticated %}


    <div class="sections p-p form-fit h-100 form-group">
        <h1 class='h1-1'>Are you sure you want to delete this project event?</h1>
        <p class='p-p'>There's no getting this information back</p>
        <form method=POST enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <button class="btn-cust">
                DELETE
            </button>
        </form>
    </div>



{% endif %}

{% endblock %}