{% extends 'panel.html' %}
{% block title %}Project Event{% endblock %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}


<div class='row mt-4 mb-4'>
	<div class='col-12 mt-4 mb-4'>
		<div class='sections form-fit'>
			<h1 class='h1-1 text-center'>Project Event</h1>
			<hr>
			<div class='sections-2 h-100'>
				<div class='row mt-4 mb-4'>
					<div class='col-6'>
						<div class='row '>
							<div class='col-4'>
								<p class='p-2'>Subject</p>
							</div>
							<div class='col-8'>
								<p class='p-p'> {{projectevents}}</p>
							</div>
							<div class='col-4'>
								<p class='p-2'>Date</p>
							</div>
							<div class='col-8'>
								<p class='p-p'>{{projectevents.date|date:'m/d/y'}}</p>
							</div>
							<div class='col-4'>
								<p class='p-2'>Start</p>
							</div>
							<div class='col-8'>
								<p class='p-p'>{{projectevents.start|date:"h:i a"|title}} </p>
							</div>
							<div class='col-4'>
								<p class='p-2'>End</p>
							</div>

							<div class='col-8'>
								<p class='p-p'>{{projectevents.end|date:"h:i a"|title}}</p>
							</div>
						</div>
					</div>
					<div class='col-6'>
						<div class='row '>
							<div class='col-4'>
								<p class='p-2'>Type</p>
							</div>
							<div class='col-8'>
								<p class='p-p'> {{projectevents.event_type|title}}</p>
							</div>
							{% if projectevents.payment_id %}
							<div class='col-4'>
								<p class='p-2'>Status</p>
							</div>
							<div class='col-8'>
								<p class='p-p'>{{projectevents.payment_id.status}}</p>
							</div>
							<div class='col-4'>
								<p class='p-2'>Amount</p>
							</div>
							<div class='col-8'>
								<p class='p-p'>${{projectevents.payment_id.amount|floatformat:2}}</p>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class='col-12 mt-4 mb-4'>
				<div class='col-12 mt-4 mb-4'>
					<div class='sections-2 mt-4 mb-4 h-100'>
						<p class='p-2'>Event Details</p>
						<p class='p-p'>{{projectevents.details}}</p>
					</div>
				</div>

				<div class='col-12 mt-4 mb-4'>
					<h1 class='h1-1 text-center'>Client and Project Details</h1>
					<hr>
					<div class='sections-2'>
						<div class='row '>
							<div class='col-2'>
								<p class='p-2'>Client:</p>
							</div>

							<div class='col-10'>
								<p class='p-p'>{{ projectevents.project_id.user_id.first_name }} {{ projectevents.project_id.user_id.last_name }}</p>
							</div>

							<div class='col-2'>
								<p class='p-2'>Project</p>
							</div>
		
							<div class='col-10'>
								<p class='p-p'>{{ projectevents.project_id }}</p>
							</div>
						</div>
					</div>
					{% if projectevents.payment_id %}
					<div class='col-12 text-center mt-4'>
						<p class='p-2'>
							Events associated with payments can only be modified by editing the 
							invoice linked to the event. Similarly, 
							deleting the event is possible only by marking the invoice as void.
						</p>
					</div>
					{% else %}
					<div class='col-12 text-center mt-4'>
						<button class='btn-cust' onClick="window.location.href='{% url 'edit-event' projectevents.id %}'">Edit Event</button>
						<button class='btn-cust' onClick="window.location.href='{% url 'delete-event' projectevents.id %}'">Cancel Event</button>
					</div>
					{% endif %}
				</div>
			</div>
		</div>

	</div>



</div>

{% endif %}

{% endblock %}