
{% extends 'panel.html' %}
{% block title %}Register{% endblock %}
{% block content %}
{% load static %}





{{ forloop.counter }}
<div class="container"> 
	<div class="sections">
		<div class='row mt-4'>
			<div class="col-6">
				<h1 class='h1-1'>Stored Image Break Down</h1>
				<div class="chart-container">
					
					<canvas id="BreakDown"></canvas>
				</div>
			</div>
			<div class="col-6">
				<h1 class='h1-1'> Total Images</h1>
				<div class="chart-container">
					<canvas id="Totals"></canvas>
				</div>
			</div>
		</div>
	</div>

	<div class='row mt-4'>
		<div class="col-12 mt-2 mb-4">

			<div class="sections">
				<h1 class='h1-1'> Client Images</h1>
				<div class='chart-container2'>
					<canvas id="clientImageChart1"></canvas>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-3">
				<div class="sections">
				<h1 class='h1-1'>Stored Image Break Down</h1>
				<hr>
				<p class="p-p">Site Images Stored: {{site_image |length }}</p>

				<p class="p-p">Site Images Stored: {{client_images |length }}</p>

				<p class="p-p">Site Images Stored: {{print_list |length }}</p>
			</div>
		</div>

		<div class="col-12 col-md-3">
			<div class="sections">
				<canvas id="myChart"></canvas>
			</div>
		</div>

		<div class="col-12 col-md-3">
			<div class="sections">
				<h1 class='h1-1'> Total Images</h1>
				<hr>
				<p class='nums'>{{ image_list|length }}/20000</p>
				<div id='total' data-value='{{ image_list|length }}' hidden></div>
			</div>
		</div>

	</div>

	<div class='row mt-4'>
		<div class="col-12 col-md-6">
			<div class="sections">
				<h1 class='h1-1'>Client Window</h1>
				<hr>
				<div class="overflow-auto scroll-menu">
					<ul class="list-unstyled">
					{% for client in client_list %}
					<li><a href="#" class="nav-link px-0 p-p"> {{ client.name }}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6">
			<div class="sections">
				<h1 class='h1-1'>Project Window</h1>
				<hr>
				<div class="overflow-auto scroll-menu">
					<ul class="list-unstyled">
					{% for project in project_list %}
					<li><a href="#" class="nav-link px-0 p-p"> {{ project.name }}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class='row mt-4'>
		<div class="col-12 col-md-6">
			<div class="sections">
				<h1 class='h1-1'>Images</h1>
				<hr>
				<div class="overflow-auto scroll-menu">
					<ul class="list-unstyled">
					{% for image in image_list %}
					<li><a href="{% url 'image-details' image.id %}" class="nav-link px-0 p-p"> {{ image.title }}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6">
			<div class="sections">
				<h1 class='h1-1'>Prints</h1>
				<hr>
				<div class="overflow-auto scroll-menu">
					<ul class="list-unstyled">
					{% for prints in print_list %}
					<li><a href="{% url 'print-details' prints.id %}" class="nav-link px-0 p-p"> {{ prints.title }}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class='sections-small mt-4 mb-4'>
		<div class='row text-center'>
			<div class='col-4'>
				<button href="#" class="btn-cust btn-cust-color" onclick="window.location.href='{% url 'project-create' %}'">Add a Client</button>
			</div>
			<div class='col-4'>
				<button href="#" class="btn-cust btn-cust-color" onclick="window.location.href='{% url 'project-create' %}'">Create a Project</button>
			</div>
			<div class='col-4'>
				<button href="#" class="btn-cust btn-cust-color" onclick="window.location.href='{% url 'billing-create' %}'">Create a invoice</button>
			</div>
		</div>
	</div>
</div>
<script src={% static 'js/graphs.js' %}></script>

{% endblock %}