{% extends 'panel.html' %}
{% block title %}Upload Link{% endblock %}
{% block content %}



{% if user.is_authenticated %}


    <div class="sections p-p form-group">
        <h1 class='h1-1'>Send Client invite</h1>
        <form method=POST enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
			<h1 class='h1-1'> 
				Hit submit to send the patential client an invite to 
				register and fill out their project questionair questionar
			</h1>

            <button class="btn btn-primary">
                Submit
            </button>
        </form>
    </div>



{% endif %}

{% endblock %}