{% extends 'panel.html' %}
{% block title %}Upload Link{% endblock %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
<div class='row mt-4 text-center mb-4 sections'>
	<div class='col-4'>
		<h1 class='h1-1'>Total Due</h1>
		<p class='nums'>${{ due }}</p>
	</div>
	<div class='col-4'>
		<h1 class='h1-1'>Total paid</h1>
		<p class='nums'>${{ paid }}</p>
	</div>
	<div class='col-4'>
		<h1 class='h1-1'>Outstand</h1>
		<p class='nums'>${{ out }}</p>
	</div>
	<div class='col-12'>
		<div id="dueProgress">
			<div id="due" value="{{ ratio }}"></div>
		</div>
		<h1 class='h1-1 mt-2 mb-2'>{{ ratio }}% Paid</h1>
	</div>
</div>
<div class='row mt-4 mb-4 '>

	<div class='col-4 sections'>
		<h1 class='h1-1'>{{ user_info.first_name }} {{ user_info.last_name }}</h1>
		<p class='p-p'>Email hey <br> {{ client_info.email }}</p>
		<p class='p-p'>Number <br> {{ client_info.phone }}</p>
		<p class='p-p'>client ID: {{ client_info.id }}</p>
	</div>
</div>
<div class='row mt-4 mb-4 '>
	<div class='col-8 sections'>
		<h1 class='h1-1'>Project Details</h1>
		<p class='p-p'>{{ invoice.details }}</p>
	</div>


</div>


<div class='row sections-small'>
	<div class='col-3'>
		<button class='btn btn-cust'>Gallery</h1>
	</div>
	<div class='col-3'>
		<button class='btn btn-cust'onclick="window.location.href='#'">Edit</h1>
	</div>
	<div class='col-3'>
		<button class='btn btn-cust'>Add Cash Payment</h1>
	</div>
	<div class='col-3'>
		<button class='btn btn-cust'>Cancel Invoice</h1>
	</div>
</div>



{% endif %}
<script src={% static 'js/invoiceBar.js' %}></script>
{% endblock %}