{% extends 'panel.html' %}
{% block title %}Client Details{% endblock %}
{% block content %}
{% load static %}
<div class='sections form-fit'>
	<div class='row'>
		<div class="col-12 mt-4 mb-4">
		
			<h1 class='nums'>
				{{ user_info.first_name }} {{ user_info.last_name }}
			</h1>
			<hr>
			<p class='p-2 text-center'>
				Client Information
			</p>
			<div class='row'>
				<div class='col-6'>
					<div class='sections-2 h-100'>
						<p class='p-2 text-center'>
							Client Address
						</p>
						<p class='p-p'>
							{{client_info.address_1}}
							<br>
							{{client_info.address_2}}
							<br>
							{{client_info.city}} {{client_info.state}}, {{client_info.zip_code}}
							
						</p>
					</div>
				</div>

				<div class='col-6'>
					<div class='sections-2 h-100'>
						<p class='p-2 text-center'>
							Client Contact
						</p>
						<p class='p-p'>
							Email: {{client_info.email}}
							<br>
							Phone: {{client_info.phone}}
							<br>
							Prefered Contact: {{client_info.contact_method}}
							
						</p>
					</div>
				</div>
			</div>
		</div>


		<div class="col-12 mt-4 mb-4">
			<h1 class='h1-1'>Project Window</h1>
			<hr>
			<div class="overflow-auto sections-2 scroll-menu">
				<div class='row text-center'>
					{% for project in client_project %}
					<div class='col-5'>
						<p class="p-p">
							{{ project }} 
							<br>
						</p>
					</div>
					<div class='col-5'>
						
						<p class="p-p">Status: <br> {{ project.status }}</p>
					</div>
					<div class='col-2'>
						<button
						class="btn-icon" 
						onclick="window.location.href='{% url 'project-details' project.id %}'">
							<i class="fa-regular fa-folder-open"></i>
						</button>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="col-12 mt-4 mb-4">

			<h1 class='h1-1'>Images</h1>
			<hr>
			<div class="overflow-auto sections-2 scroll-menu">
				{% for image in image_list %}
				<div class='row text-center'>
					<div class='col-5'>
						{{ image.title }}
					</div>
					<div class='col-5'>

						{{ image.project_id }}
					</div>
					<div class='col-2'>
						<button class='btn-icon'
							onclick="window.location.href='{% url 'image-details' image.id %}'">
							<i class="fa-regular fa-image"></i>
						</button> 
					</div>
				</div>
				<hr>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-12 mt-4 mb-4">
			<button class='btn-cust'
			onclick="window.location.href='{% url 'client-delete' client_info.id %}'">
			Delete Client
			<i class="fa-solid fa-user-slash"></i>
			</button> 
		</div>
	</div>
</div>


<script src={% static 'js/invoiceBar.js' %}></script>
{% endblock %}