{% extends 'client-panel.html' %}
{% block title %}Reply Sent Success{% endblock %}
{% block content %}

<div class='row'>
	<div class='col'>
		<div class='sections'>
			<h1 class='h1-1'>
				Your reply to the Project Request hass beenn submited
			</h1>
			<p>
				The request has succesfully bent sent to the new client. 
				Once they register a notfication will be sent letting you know. 
			</p>
			<button class='btn-cust' onclick="window.location.href='{% url 'project-binder' user.id %}'">Clients</button>
		</div>
	</div>
</div>

{% endblock %}