{% extends 'panel.html' %}
{% block title %}Client Request{% endblock %}
{% block content %}
{% load static %}
<div class='row'>
	<div class='col-8'>
		<div class='sections mt-4 mb-4'>
			<h1 class='h1-1'>
				Set terms for the services for Project {{ client_request }}
			</h1>
			<hr>
			<form method=POST class='p-p row'>
				{% csrf_token %}

				<div class='col-6'>
					<h1 class='h1-1 mb-4'> Project Detials</h1>
					<p class='p-p mt-4'>
						Photographer: {{ user.first_name }} {{ user.last_name }}<br>
					</p>

					<p class='p-p'>
						Project Scope: {{ client_request.scope }}<br>
					</p>
					<p class='p-p'>
						Location Type: {{ client_request.location }}<br>
					</p>
					<p class='p-p'>
						Prroject Number: {{ client_request.slug }}<br>
					</p>
				</div>
				<div class='col-6'>
					<h1 class='h1-1 mb-4'> Client Detials</h1>
					<p class='p-p'>
						Clients Name: {{ client_request.user_id.first_name }} {{ client_request.user_id.last_name }}<br>
					</p>
					<p class='p-p'>
						Clients Email: {{ client_request.user_id.email }}<br>
					</p>
					<p class='p-p'>
						Project Scope: {{ client_info.phone }}<br>
					</p>
					<p class='p-p'>
						Billing Address <br>
						{{ client_info.address_1 }}<br>
						{{ client_info.address_2 }}<br>
						{{ client_info.city }} {{ client_info.state }}, {{ client_info.zip_code }}
					</p>
				</div>

				<div class='col-6'>
					<h1 class='h1-1 mb-4'>Schedule Consultation</h1>
					<label for="id_session_date">Consultation Date:</label>
					<input type="date" name="session_date" class="form-control" maxlength="10" required="" id="id_session_date">

					<label for="id_session_start">Consultation Start Time:</label>
					<input type="time" name="session_start" value="9:00" class="form-control" id="id_session_start">

					<label for="id_session_end">Consultation End Time</label>
					<input type="time" name="session_end" value="9:00" class="form-control" id="id_session_end">
				</div>

				<div class='col-6'>
					<h1 class='h1-1 mb-4'>Project Cost and Deposit amounts</h1>
					<label for="id_project_cost">Project cost:</label>
					<input type="text" name="project_cost" value="600.00" class="form-control" required="" id="id_project_cost">

					<label for="id_deposit" class=' mt-2'>Deposit:</label>
					<input type="text" name="deposit" value="0.00" class="form-control" required="" id="id_deposit">

				</div>

				<div class='col-12 mt-4 mb-4'>
					<h1 class='h1-1'>Session Outline</h1>
					<p class='p-p'>Please detail anny Addtional notes about the services that will be provded</p>

					<label for="id_services">Details</label>
					<textarea name="services" cols="40" rows="10" class="form-control" maxlength="500" id="id_services"></textarea>
				</div>

				<div class='col-12 mt-4'>
					<button class="btn-cust">
						Submit
					</button>
				</div>
			</form>
		</div>
	</div>

	<div class='col-4'>
		<div class='sections mt-4 mb-4'>
			<h1 class='h1-1'>
				Request Thread
			</h1>
			<hr>
			<p class='p-p'>
				<a class="btn-cust" data-bs-toggle="collapse" href="#collapseComments" role="button" aria-expanded="false" aria-controls="collapse1">
					Project Request Thread
				</a>
			</p>
		  
	
			<div class='row'>
				<div class="collapse" id="collapseComments" style='width:100%'>
	
				{% for comment in comments %}
				{% if comment.user_id == user %}
				<div class='col-12 mt-4 mb-4'>
					<div class='row'>
						<div class='col-12 comment-sub-box'> 
							<div class="user-content" >
								<h1 class='user-box h1-1'>
									{{ comment.user_id }}
								</h1>
								<hr>
								<p class='p-p'>
									{{ comment.comment}}
								</p>
								<div class='comment-line-3'></div>
							</div>
						</div>
					</div>
				</div>
				{% else %}
				<div class='col-12 mt-4 mb-4'>
					<div class='row'>
						<div class='col-12 comment-sub-box'> 
							<div class="comment-content" >
								<h1 class='h1-1'>
									{{ comment.user_id }}
								</h1>
								<hr>
								<p class='p-p'>
									{{ comment.comment}}
								</p>
								<div class='comment-line-2'></div>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}