{% extends 'panel.html' %}
{% block title %}Delete Image{% endblock %}
{% block content %}



{% if user.is_authenticated %}


    <div class="sections-small form-fit p-p form-group">
        <h1 class='h1-1'>Delete Image</h1>
        <p class='p-p'>
            This action cannot be undone, are you sure you would like to processed
        </p>
        <form method=POST enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <button class="btn-cust">
                Submit
            </button>
        </form>
    </div>



{% endif %}

{% endblock %}